
.container1{
   border: 20px antiquewhite;
   border-radius: 50%;
   height: 30rem;
   width: 30rem;
   position: absolute;
   margin-left:600px;
   margin-top: 200px;
   box-shadow:
        0 0 0 4px rgba(0,0,0,0.1),
        inset 0 0 0 10px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2);
}

.clock{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}
.hand{
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
      
}


html{
    background: #018DED url(http://unsplash.it/1500/1000?image=881&blur=5);
      background-size: cover;
      font-family: 'helvetica neue';
      text-align: center;
      font-size: 10px;
}